@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Raleway:wght@700&display=swap");

body {
  background: linear-gradient(100deg, #000000 0%, #150a29 50%, #000000 100%);
  background-color: black;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-size: 200% 200%;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 1;
  display: none;
}

.blur-overlay.visible {
  display: block;
}

.background-container {
  background: url("/public/background.webp") no-repeat center center fixed;
  top: 0;
  left: 0;
  background-size: cover;
  animation: floatBackground 30s ease-in-out infinite;
  position: relative;
}

@keyframes floatBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.header {
  padding: 20px 0;
}
.hero {
  position: relative;
  z-index: 1;
}

.header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
  letter-spacing: 2px;
  animation: fadeIn 1.5s ease;
  margin-top: 10px;
}

.header .highlight {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  color: #ad50eb;
  background: linear-gradient(90deg, #ad50eb, #f093fb);
  -webkit-background-clip: text;
  color: transparent;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #ad50eb;
  }
  to {
    text-shadow: 0 0 20px #f384ff;
  }
}

.connect-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  position: absolute;
  top: 35px;
  right: 50px;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.63),
    rgba(173, 80, 235, 0.616)
  );
}

.connect-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  color: #b1b1b1;
  outline: none;
}

.connected-button:focus {
  outline: none;
}

.connect-button:focus {
  outline: none;
}

.connected-button:active {
  outline: none;
}

.connect-button:active {
  outline: none;
}

.connected-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  position: absolute;
  top: 35px;
  right: 50px;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.63),
    rgba(173, 80, 235, 0.616)
  );
}

.connected-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  color: #b1b1b1;
  outline: none;
}

.wallet-info-card {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ad50ebab;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 336px;
  text-align: left;
  z-index: 10;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.63),
    rgba(173, 80, 235, 0.616)
  );
  outline: none;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.4s ease forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wallet-info-card h2 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}

.wallet-info-card p {
  margin: 5px 0;
  font-size: 14px;
  outline: none;
}

.subtitle {
  margin-top: 10px;
  font-size: 18px;
  color: #ccc;
  font-style: italic;
  letter-spacing: 1px;
}

.collection-name {
  background-color: rgba(0, 0, 0, 0.555);
  padding: 8px 16px;
  border-radius: 12px;
  color: #c56fff;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  animation: glow 2s infinite alternate;
}

.nft-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.nft-item {
  background-color: rgba(20, 20, 20, 0.74);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nft-item:hover {
  transform: translateY(-7px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.6);
}

.nft-item img {
  max-width: 100%;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.nft-item img:hover {
  transform: scale(1.05);
}

.mint-button {
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.63),
    rgba(173, 80, 235, 0.616)
  );
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 13px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.mint-button:hover {
  background-color: #7a00b3;
  transform: translateY(-2px);
}

.description {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 16px;
  color: #a0a0a0;
}

.article-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.63),
    rgba(173, 80, 235, 0.616)
  );
  text-align: left;
}

.paragraph-content {
  font-family: "poppins", sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;
  color: #bebebe;
  margin-bottom: 1.5em;
  text-align: center;
}

.nft-grid {
  margin-top: -30px;
}

.highlight-text {
  color: #ad50eb;
}

@media (max-width: 600px) {
  .background-container {
    background: url("/public/background.webp") no-repeat center center fixed;
    top: 0;
    left: 0;
    background-size: cover;
    animation: floatBackground 40s ease-in-out infinite;
  }

  .header h1 {
    font-size: 25px;
    margin-top: 10px;
  }

  .highlight-text {
    color: #ad50eb;
  }

  .nft-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .nft-item {
    padding: 15px;
  }

  .mint-button {
    padding: 5px;
    font-size: 10px;
    margin-top: 8px;
    background: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.63),
      rgba(173, 80, 235, 0.616)
    );
  }

  .connect-button {
    color: white;
    border: none;
    padding: 120px;
    margin-right: calc(50% - 4.5px - 100px);
    margin-top: 145px;
    font-size: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 10;
    outline: none;
  }

  .connect-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    color: #b1b1b1;
    outline: none;
  }

  .connected-button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    position: absolute;
    top: 175px;
    right: 101px;
    z-index: 10;
    background: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.63),
      rgba(173, 80, 235, 0.616)
    );
  }

  .connected-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    color: #b1b1b1;
    outline: none;
  }

  .wallet-info-card {
    position: absolute;
    top: -145px;
    right: 12px;
    background-color: #ad50ebab;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 336px;
    text-align: left;
    z-index: 10;
    background: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.63),
      rgba(173, 80, 235, 0.616)
    );
    margin-top: 160px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.4s ease forwards;
    outline: none;
  }

  button:focus-visible {
    outline: none;
  }

  button::-moz-focus-inner {
    border: 0;
  }

  .nft-grid {
    margin-top: 20px;
  }

  .subtitle {
    font-size: 12px;
    padding-top: -20px;
    padding-bottom: -10px;
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
  }

  .collection-name {
    background-color: #141414;
    padding: 4px 4px;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    color: #ad50eb;
    font-size: 13px;
    animation: glow 2s infinite alternate;
  }

  .description {
    font-size: 14px;
    padding: 8px;
    margin-top: -10px;
    margin-bottom: 35px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .article-content {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    background: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.63),
      rgba(173, 80, 235, 0.616)
    );
    font-size: 13px;
  }

  @keyframes floatBackgroundMobile {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}

.toast-container {
  text-align: center;
}
